html {
    font-family: sans-serif;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 0 auto;
}
.clearfix ::after {
    content: "";
    display: table;
    clear: both;
}
.colonna {
    float: left;
}
header {
    height: 60px;
    background-color: #3161e0;
    line-height: 60px;
}
.nav-logo,
.nav-bottone {
    width: 15%;
}
.nav-centro {
    width: 70%;
    display: inline-block;
    text-align: center;
}
li {
    display: inline-block;
    margin-left: 15px;
}
ul {
    list-style: none;
}
.header-menu {
    text-align: center;
    margin-left: 2em;
    
}
a {
    text-decoration: none;
    color: white;
}
img {
    margin-top: 10px;
    vertical-align: middle;
}
.accedi {
padding: 5px;
border-radius: 30px;
color: black;
background-color: white;
}

.banner {
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

.banner .testo {
    color: white;
    line-height: 40px;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
}
p {
    margin-top: 30px;
    font-size: 15px;
    line-height: 20px;
}
